*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  /* this may be temporary */
  max-width: 200px;
}

body {
  display: grid;
  place-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
