*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  display: grid;
  place-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#next-cup-race {
  /* outline: 2px solid black; */
  /* change this hardcoded width later */
  width: 350px;

  .card {
    width: 350px;
    position: relative;

    .track-main {
      position: absolute;
      display: block;
      top: 0.5rem;
      z-index: -1;
      border-radius: 25px;
    }
  }
}
