*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  display: grid;
  place-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-image: url("./assets/flag_bg.webp");
  background-color: cornsilk;
}

h1 {
  text-align: center;
  margin-block: 1rem;
  font-size: 2.25rem;
  position: relative;

  &::after {
    content: "";
    background-image: url("./assets/nascar_logo.webp");
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translateX(-50%);
    z-index: 999;
    width: 150px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#next-cup-race {
  /* outline: 2px solid black; */
  /* change this hardcoded width later */
  width: 350px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;

  .card {
    width: 350px;
    position: relative;

    .track-main {
      position: absolute;
      display: block;
      top: 0.5rem;
      z-index: -1;
      border-radius: 25px;
    }

    .track-logo {
      position: absolute;
      bottom: 0;
      width: 85%;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
      height: 125px;
    }
  }

  .race-info-wrapper {
    margin-block: 0.5rem;
    position: relative;

    h2 {
      font: inherit;
      margin-block-end: 0.5rem;
    }

    .race-name {
      max-width: 25ch;
      margin-inline: auto;
      font-weight: 700;
    }
  }
  hr {
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(
      to right,
      hsl(52 95 57) 10%,
      hsl(3 85 57),
      hsl(319 41 52),
      hsl(198 97 39) 85%
    );
  }

  .weather-info-wrapper {
    h2 {
      font: inherit;
      margin-block-end: 0.5rem;
    }
  }
}
