*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  /* this may be temporary */
  max-width: 100%;
}

body {
  display: grid;
  place-content: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#next-cup-race {
  outline: 2px solid black;
  /* change this hardcoded width later */
  width: 350px;

  .track-main {
    /* these dimensions are temporary */
    width: 350px;
    /* height: 320px; */
    outline: blue;
    display: block;
  }
}
